# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
.idea/

# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
client_secret_463023643481-emdp2ign2q1iud5pscavbgo3o33gl5lc.apps.googleusercontent.com.json

# others
supabase/
